:root {
    --primary: linear-gradient(to bottom right, rgba(245, 94, 125, 0.8), rgba(245, 94, 125, 0.8));
    --secondary: rgba(255, 215, 0, 0.8); /* Gold with transparency */
    --text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: var(--primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.main-video, .video-playlist {
    width: 100%;
    background: rgba(0, 0, 0, 0.6); /* Transparent black */
    border-radius: 1rem;
    padding: 1rem;
    transition: background 0.3s ease;
}

.main-video:hover, .video-playlist:hover {
    background: rgba(0, 0, 0, 0.8); /* Darken on hover */
}

.main-video .title {
    margin-top: 1rem;
    color: var(--secondary);
}

.video-playlist .title {
    padding-left: 1rem;
    color: var(--secondary);
}

.video-playlist > p {
    padding: 1rem;
    color: var(--secondary);
}

.video-playlist .videos {
    height: 70%;
    overflow-y: auto;
}

.video-playlist .videos::-webkit-scrollbar {
    width: .4rem;
    border-radius: .4rem;
    background-color: black;
}

.video-playlist .videos::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: var(--secondary);
}

.video-playlist .videos .video {
    width: 100%;
    height: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: background-color 0.3s ease;
}

.video-playlist .videos .video:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Transparent black on hover */
}

.video-playlist .videos .video.active {
    background-color: rgba(0, 128, 0, 0.8); /* Transparent green */
    color: var(--secondary);
}

.main-video video {
    width: 100%;
    border-radius: .5rem;
}

.video img {
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
}

.video p {
    margin-left: 2.5rem;
}

.video h3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 100 1rem sans-serif;
    padding: 0 .5rem;
}

.video-playlist .videos .video.active img {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}
